footer {
    font-size: 1rem;
    font-weight: 300;
    color: #98B0D3;
    background-color: #0F2D67;

    a {
        color: #98B0D3;
    }

    a:hover {
        text-decoration: underline;
        color: #EDA701;
    }

    .petastudio {
        width: 33px;
        height: 21px;
    }

    .copyright {
        color: #98B0D3;
        font-size: 0.75rem;
    }

    .footer-logo {
        width: 190px;
        height: auto;

        @include media-breakpoint-up(sm) {
            width: 100%;
            height: auto;
        }
    }

    .bottom-menu ul li::before {
        content: "\2022";
        color: #EEA701;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    .arrow-btn img {
        top: -20px;
    }

    @include media-breakpoint-up(md) {
        .arrow-btn img {
            top: -20px;
        }
    }

    .footer-underline {
        border-bottom: 1px solid #254277;
    }

}

.dotpay-box{
    font-size: 0.75rem;
    color: #4D699E;
}
